[Desktop Entry]
Type=Application
Name={{ cookiecutter.project_name }}
Exec=app
Icon=app
# available categories, see: https://specifications.freedesktop.org/menu-spec/latest/apa.html
Categories=Utility;
